@import './src/assets/scss/colors';

button {
  padding: 4px 12px;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  transition: all ease 0.5s;
  font-weight: 600;

  &.sm {
    height: 26px;
    font-size: 10px;
  }

  &.teal {
    color: $teal_color;
    border: 1px solid $teal_color;
    background: transparent;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background: rgba(1, 248, 203, 0.16);
      box-shadow: 0px 0px 10px rgba(1, 248, 203, 0.12);
    }
  }

  &.orange {
    color: #fff;
    border: none;
    background: $orange-gradient;

    &:hover {
      box-shadow: 0px 0px 20px rgba(255, 153, 0, 0.6);
    }
  }
}
