.livedrop-item {
  width: 115px;
  height: 112px;
  margin-left: 1px;

  padding: 7px 8px;

  background-color: #000000;

  &.mythical {
    background-image: url('../../../../assets/img/items/mythical.png'),
                      url('../../../../assets/img/logo_dark.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.uncommon {
    background-image: url('../../../../assets/img/items/uncommon.png'),
                      url('../../../../assets/img/logo_dark.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.ancient {
    background-image: url('../../../../assets/img/items/ancient.png'),
                      url('../../../../assets/img/logo_dark.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .top-info {

    .case-name, .time {
      font-size: 7px;
      font-weight: 600;
      opacity: 0.4;
      line-height: 100%;
    }
  }

  .image-block {

  }

  .bottom-info {

    .item-name, .item-sub-name {
      letter-spacing: 0.19px;
      line-height: 100%;
    }

    .item-name {
      font-size: 10px;
      font-weight: 600;
      opacity: 0.9;
    }

    .item-sub-name {
      margin-top: 4px;
      font-size: 7px;
      opacity: 0.6;
    }
  }
}
