<div class="livedrop-item d-flex flex-column" [ngClass]="rare">
  <div
    class="top-info d-flex flex-row align-items-center justify-content-between"
  >
    <div class="case-name text-uppercase">{{ caseName }}</div>
    <div class="time">{{timeFrom}}</div>
  </div>
  <div
    class="image-block flex-fill d-flex align-items-center justify-content-center"
  >
    <img [src]="image" />
  </div>
  <div class="bottom-info">
    <div class="item-name">{{ itemName }}</div>
    <div class="item-sub-name">{{ itemDescription }}</div>
  </div>
</div>
