$background-gradient: linear-gradient(180deg, #0D061B 0%, #1A1425 95.28%);
$header-gradient: linear-gradient(270deg, rgba(62, 96, 185, 0.2) 0%, rgba(46, 17, 72, 0.2) 100%), rgba(0, 0, 0, 0.8);
$orange-gradient: linear-gradient(180deg, #FFB015 0%, #FF8A00 100%);

$teal_color: #01F8CB;
$orange: #FF9900;

.teal-color {
  color: $teal_color;
}

.orange-color {
  color: $orange;
}
