@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff');
  src: local('Inter Regular'), local('Inter-Regular'), url('../fonts/Inter-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff');
  src: local('Inter Medium'), local('Inter-Medium'), url('../fonts/Inter-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff');
  src: local('Inter SemiBold'), local('Inter-SemiBold'), url('../fonts/Inter-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Druk';
  src: url('../fonts/Druk-Wide-Bold.woff');
  src: local('Druk Wide Bold'), url('../fonts/Druk-Wide-Bold.woff') format('woff');
  font-style: normal;
}
