<ng-container *ngIf="caseItem">
  <div class="case-item small d-flex flex-column">
    <div class="bg-image">
      <img [src]="caseItem.bgImage" />
    </div>
    <div
      class="case-image flex-fill d-flex flex-row align-items-end justify-content-center"
    >
      <img [src]="caseItem.image" />
    </div>
    <div class="case-name text-uppercase">
      {{ caseItem.name }}
    </div>
    <div class="case-price orange-color text-uppercase">
      Open for ${{ caseItem.price }}
    </div>
  </div>
</ng-container>
