@import '../../../assets/scss/colors';

.case-item {
  position: relative;
  overflow: hidden;
  padding: 20px 25px;
  text-align: center;

  &.small {
    width: 240px;
    height: 240px;
    background: linear-gradient(0deg, #000000 35.77%, rgba(0, 0, 0, 0) 100%);
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .case-image, .case-name, .case-price {
    z-index: 2;
  }

  .case-name {
    font-size: 10px;
    font-family: 'Druk';
    padding-top: 12px;
  }

  .case-price {
    margin-top: 16px;

    letter-spacing: 0.16px;
    font-size: 12px;
    font-weight: 500;
  }
}
