@import '../../../assets/scss/colors';

header {
  background: $header-gradient;
  border-bottom: 2px solid rgba(255, 255, 255, 0.02);

  .wrapper {
    min-height: 88px;
  }

  .logo-container {
    top: 7px;
    position: relative;
  }

  .menu {
    margin-left: 40px;

    &__item {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.8);

      text-transform: uppercase;
      margin-right: 10px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &--icon {
        padding: 0 8px 0 13px;
      }
    }
  }

  .authorized {

    .info-block {
      background: rgba(255, 255, 255, 0.04);
      border-radius: 2px;
      padding: 10px;
      margin-right: 2px;
      height: 46px;

      gap: 8px;

      &__icon {

      }

      &__description {
        .title {
          font-weight: 400;
          font-size: 8px;
          line-height: 100%;

          color: rgba(255, 255, 255, 0.6);

          margin-bottom: 4px;
        }

        .value {
          font-size: 14px;
          line-height: 100%;
          font-weight: 600;
        }
      }
    }
  }
}
