<header>
  <div class="wrapper d-flex flex-row align-items-center">
    <div class="logo-container">
      <img src="/assets/img/logo.svg" />
    </div>
    <div class="menu d-flex flex-row">
      <div
        *ngFor="let link of links"
        class="menu__item d-flex flex-row align-items-center"
      >
        <div class="menu__item--icon">
          <img src="/assets/img/{{ link.icon }}.svg" alt="Shield" />
        </div>
        {{ link.title }}
      </div>
    </div>
    <div class="authorized d-flex flex-row justify-content-end flex-fill">
      <div class="info-block d-flex flex-row justify-content-between">
        <div class="info-block__icon">
          <img src="/assets/img/gun.svg" alt="Gun" />
        </div>
        <div class="info-block__description">
          <div class="title text-uppercase">My skins:</div>
          <div class="value teal-color">$ 214</div>
        </div>
        <div class="info-block__action">
          <g-button text="Sell" size="sm" color="teal"></g-button>
        </div>
      </div>
      <div class="info-block d-flex flex-row justify-content-between">
        <div class="info-block__icon">
          <img src="/assets/img/wallet.svg" alt="Gun" />
        </div>
        <div class="info-block__description">
          <div class="title text-uppercase">Balance:</div>
          <div class="value orange-color">$ 2145</div>
        </div>
        <div class="info-block__action">
          <g-button text="Refill" size="sm" color="orange"></g-button>
        </div>
      </div>
    </div>
  </div>
</header>

<g-livedrop-list></g-livedrop-list>
