<g-case-section
  title="EASTER EVENT Cases"
  description="The Only Universe with the best Cases!"
>
  <g-case-item *ngFor="let item of caseItems" [caseItem]="item"></g-case-item>
</g-case-section>

<g-case-section
  title="LIMITED EDITION"
  description="The Only Universe with the best Cases!"
>
</g-case-section>
