@import "bootstrap/scss/bootstrap";
@import 'assets/scss/colors';
@import 'assets/scss/fonts';
@import 'assets/scss/vars';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $background-gradient;
}

.wrapper {
  max-width: 1365px;
  margin: 0 auto;

  @media screen and (max-width: 1365px) {
    padding: 0 10px;
  }
}
