<div class="livedrop-list">
  <div class="wrapper">
    <div class="list d-flex flex-row flex-nowrap">
      <div class="online-container d-flex flex-column">
        <div class="online-container__title flex-fill">
          <div class="d-flex flex-row align-items-center text-uppercase">
            <img class="icon" src="/assets/img/live.svg" alt="LiveDrop" />
            Livedrop
          </div>
        </div>
        <div class="online-value teal-color">3,408</div>
        <div class="online-placeholder teal-color text-uppercase">Online</div>
      </div>

      <g-livedrop-item
        *ngFor="let item of items"
        [itemName]="item.name"
        [itemDescription]="item.description"
        [caseName]="item.case"
        [image]="item.img"
        [rare]="item.rare"
      >
      </g-livedrop-item>
    </div>
  </div>
</div>
