.livedrop-list {
  padding: 20px 0;
  overflow: hidden;

  .online-container {
    min-width: 139px;
    min-height: 112px;

    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: 2px;

    padding: 10px 20px 14px 20px;

    &__title {
      font-size: 10px;
      line-height: 12px;

      .icon {
        margin-right: 4px;
      }
    }

    .online-value {
      font-family: 'Druk';
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.1em;
      opacity: 0.9;

      margin-bottom: 6px;
    }

    .online-placeholder {
      font-size: 10px;
      opacity: 0.7;
    }
  }
}
