<div class="payments-methods-container">
  <div class="wrapper">
    <div class="payments-methods-container__title text-uppercase">Payment methods</div>
    <div class="methods d-flex flex-row align-items-center justify-content-evenly">
      <div class="method">
        <img src="/assets/img/methods/visa.svg" alt="Visa" />
      </div>
      <div class="method">
        <img src="/assets/img/methods/g2a.svg" alt="G2A" />
      </div>
      <div class="method">
        <img src="/assets/img/methods/webmoney.svg" alt="WebMoney" />
      </div>
      <div class="method">
        <img src="/assets/img/methods/netell.svg" alt="Netell" />
      </div>
      <div class="method">
        <img src="/assets/img/methods/klarna.svg" alt="Klarna" />
      </div>
      <div class="method">
        <img src="/assets/img/methods/litecoin.svg" alt="Litecoin" />
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="wrapper d-flex flex-row align-items-start justify-content-between">
    <div class="copyright-container">
      <img class="logo" src="/assets/img/logo_footer.svg" alt="Logo" />
      <div class="copyright-container__about">
        APRODI LTD (Stavrou, 74, 1st floor, Office 102, Strovolos, 2035, Nicosia, Cyprus)
      </div>
    </div>
    <div class="bottom-menu-container">
      <div class="bottom-menu-container__title">Support:</div>
      <a class="bottom-menu-container__item">help@gaben.skins</a>
      <a class="bottom-menu-container__item">+351 965 79 034</a>
    </div>
    <div class="bottom-menu-container">
      <div class="bottom-menu-container__title">Legal:</div>
      <a class="bottom-menu-container__item">Privacy policy</a>
      <a class="bottom-menu-container__item">Terms of use</a>
    </div>
    <div class="bottom-menu-container">
      <div class="bottom-menu-container__title">Support:</div>
      <a class="bottom-menu-container__item">help@gaben.skins</a>
      <a class="bottom-menu-container__item">+351 965 79 034</a>
    </div>
    <div class="bottom-menu-container">
      <div class="bottom-menu-container__title">Follow us:</div>
      <div class="bottom-menu-container__social">
        <a href="#" class="social">
          <img src="/assets/img/facebook.svg" alt="Facebook" />
        </a>
        <a href="#" class="social">
          <img src="/assets/img/twitter.svg" alt="Twitter" />
        </a>
        <a href="#" class="social">
          <img src="/assets/img/discord.svg" alt="Discord" />
        </a>
      </div>
    </div>
  </div>
</footer>
