.payments-methods-container {
  margin-top: 70px;

  &__title {
    font-family: 'Druk';
    font-size: 10px;
    color: #F8F8F8;
    letter-spacing: 10px;
    text-align: center;
  }

  .methods {
    padding-bottom: 70px;
    padding-top: 50px;

    .method {
      opacity: 0.4;
    }
  }
}

footer {
  min-height: 192px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #12142A;
  padding-top: 30px;

  .copyright-container {
    flex: 3;

    .logo {
      margin-bottom: 10px;
      display: block;
    }

    &__about {
      max-width: 200px;
      font-size: 10px;
      line-height: 18px;
      padding-left: 12px;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .bottom-menu-container {
    flex: 2;

    &__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: rgba(255, 255, 255, 0.9);
      padding-bottom: 20px;
    }

    &__item {
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 100%;
      text-decoration: none;

      margin-bottom: 10px;
    }

    &__social {

      .social {
        margin-right: 25px;
        opacity: 0.3;
        transition: all ease 0.5s;

        &:hover {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
