.case-section {
  padding-top: 40px;
  background: url('../../../assets/img/case-section-bg.png') no-repeat center top;
  min-height: 250px;

  &__title {
    font-family: 'Druk';
    font-size: 24px;
    letter-spacing: 0.34px;
    color: #F8F8F8;
    text-align: center;
  }

  &__description {
    margin-top: 12px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.16px;
    color: rgba(255, 255, 255, 0.56);
  }

  &__content {
    margin-top: 40px;
    gap: 10px;
  }
}
