<div class="case-section">
  <div class="wrapper">
    <div class="case-section__title text-uppercase">{{ title }}</div>
    <div *ngIf="description" class="case-section__description">
      {{ description }}
    </div>
    <div class="case-section__content d-flex flex-row flex-wrap justify-content-center">
      <ng-content></ng-content>
    </div>
  </div>
</div>
